*.nii
*.nii.gz
*.dcm
*.h5
*.mat
tmp/
output/
ANTs/
*.Identifier
build/
install/

# Python
__pycache__/
*.pyc

# Data / outputs
data/
outputs/

# ML models
*.pt
*.pth

# Imaging files
*.nii
*.nii.gz
*.dcm
*.h5
*.mat

# System files
*.identifier
.DS_Store
